asgiref==3.11.1
Django==5.2
sqlparse==0.5.5
typing_extensions==4.16.0
python-decouple
pillow
djangorestframework
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-mail-templated
black
flake8
pytest
pytest-django