<div class="comment">

    <strong>{{ comment.name }}</strong>

    <p>{{ comment.content }}</p>

    <small>{{ comment.created_at }}</small>


    {% if comment.author == request.user.profile %}

        <!-- UPDATE -->
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="action" value="update">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">

            <textarea name="content" required>{{ comment.content }}</textarea>

            <button type="submit">Edit</button>
        </form>


        <!-- DELETE -->
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">

            <button type="submit">Delete</button>
        </form>

    {% endif %}


    <!-- REPLY -->
    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="action" value="create">
        <input type="hidden" name="parent" value="{{ comment.id }}">

        <textarea name="content" required></textarea>

        <button type="submit">Reply</button>
    </form>


    <!-- REPLIES -->
    {% for reply in comment.replies.all %}

        <div style="margin-left: 30px;">
            {% include "blog/comment.html" with comment=reply %}
        </div>

    {% endfor %}

</div>