{% extends "base.html" %}

{% block content %}
<!-- POST -->
<article>
    <h1>{{ post.title }}</h1>

    {% if post.image %}
        <img
            src="{{ post.image.url }}"
            alt="{{ post.title }}"
        >
    {% endif %}

    <div>
        {{ post.content }}
    </div>

    <small>
        {{ post.created_at }}
    </small>
</article>


<hr>


<!-- COMMENTS -->
<section>
    <h2>Comments</h2>

    {% for comment in comments %}

        {% include "blog/comment.html" with comment=comment %}

    {% empty %}

        <p>No comments yet.</p>

    {% endfor %}

</section>


<hr>


<!-- CREATE COMMENT -->
<section>
    <h3>Add Comment</h3>

    <form method="post">
        {% csrf_token %}

        <input
            type="hidden"
            name="action"
            value="create"
        >

        {{ form.as_p }}

        <button type="submit">
            Add Comment
        </button>
    </form>

</section>


{% endblock %}
